#header{
	/*Novamente definimos a largura da div*/
	width:1500px;
	/* altura da div */
	height:100px;
	/* Cor de fundo da div */
	background-color:#B5B5B5;
    font: 25px .saas-cache; 
	}
#conteudo{
	/*Novamente definimos a largura da div*/
	width:1500px;
	/* altura da div */
	height:2800px;
	
}	
#footer{
	/*Novamente definimos a largura da div*/
	width:1500px;
	/* altura da div */
	height:150px;
	/* Cor de fundo da div */
	background-color:#C3C;
	}

h1{
    font-family: 'Open Sans', sans-serif;
   
}

p{
    font-family: inherit;
    
}